*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74e4;
}
button{
    background-color:black;
    color:white;
}
#login{
     background-color:aqua;
}
#register{
    background-color:aqua;
}