h1{
    color:red;
    background-color:black;
}
h2{
    color:blue;
    background-color:brown;
}
h3{
    color:aqua;
    background-color:blanchedalmond;
}
h4{
    color:orange;
    background-color:bisque;
}