#outer{
    display:flex;
    /* display:grid; */
    height:200px;
    width:200px;
    background-color:aquamarine;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap:wrap;
    justify-content:baseline;
    align-items:baseline;
    flex-grow:1;
}
#inner1{
    background-color:red;
    height:60px;
    width:60px;
}
#inner2{
    background-color:green;
    height:60px;
    width:60px;
}
#inner3{
    background-color: blue;
    height:60px;
    width:60px;
}
#inner4{
    background-color: black;
    height:60px;
    width:60px;

}